body{

    padding: 0; 
    margin: 0; 
    width: 100%; 
    margin-top: -25px; 

}
header{
    color: white; 
    background-color: maroon; 
    height: 250px; 
}

.links{
    display: flex; 
    color: white; 
    margin-left: 500px; 
}

.links li{
    margin-right: 10px; 
    list-style-type: none; 
    text-decoration: none; 
    margin-bottom: 20px; 
}

.primeiro{
    background-color: red; 
    
}

.titulo{
    margin-left: 600px;
    padding: 20px;
}


.laranja{
    background-color: lightsalmon;
    margin-top: -20px;
    height: 250px;

}

footer{
    height: 350px;
    background-color: maroon;
}

h2{
    font-size: 15px; 
}

h3{
    padding: 50px;
    margin-left: 550px;
    font-size: 20px;
}

.laranja p{
    width: 400px;
    font-size: 12px;
    margin-left: 550px;

}

.cards{
    display: flex;
    padding: 90px;
    margin-left: 300px;
}

.card{
    margin-right: 35px;
    width: 250px;
    text-align: center;
    display: flex;
    flex-direction: column; 
}


.card img{
    margin-left: 100px;
    margin-bottom: 20px;
    width: 50px;
}

.card a{
    background-color: tomato;
    text-decoration: none;
    width: 100px;
    padding: 15px;
    margin-left: 55px;
}

.cardsa {
    
    padding: 20px;
    display: flex;
    margin-left: 20px;
    text-align: center;
    margin-top: 100px;

}

.carda strong{

    text-transform: uppercase; 
}

.carda a{

    background-color: tomato;
    text-decoration: none;
    width: 100px;
    padding: 10px;
    margin-left: 10px;

}

.titulodois{
    
   margin-left: 30px;
}
.titulodois p{
    margin-top: -60px;
    margin-left: 630px;
}

.finall{
    margin-left: 100px;
    text-align: center; 
    padding: 10px;
}

.final{

    display: flex;
    margin-left: 600px;
    margin-bottom: 20px;
    margin-top: 100px;
}

.final img{
    width: 30px;
    margin-right: 30px;
}

.todos{

    margin-bottom: 50px;
}

.finall p{

    margin-top: 100px;
}
