body{

    padding: 0; /*margem para ficar do tamnanho do site completo - (margem interna) */
    margin: 0; /**/
    width: 100%; /*comprimento*/
    margin-top: -25px; /*margem top serve para afastar do top (se colcar um numero negativo ele vai para cima)*/ 

}
header{
    color: white; /*cor da letra*/
    background-color: maroon; /*cor de fundo*/
    height: 250px; /*altura(estica)*/
}

.links{
    display: flex; /*coloca os itens um do lado do outro*/
    color: white; /*cor da letra*/
    margin-left: 500px; /*margem left abre um espaço da esquerda(ele e puxado para esquerda)*/
}

.links li{
    margin-right: 10px; /*margem right abre um espaço da direita(ele e puxado para direita)*/
    list-style-type: none; /*tirar o sublinhado e a bolinha ° */
    text-decoration: none; /* igual o de cima */
    margin-bottom: 20px; /*margem bottom serve para afastar de baixo (se colcar um numero negativo ele vai para baixo)*/
    
}

.primeiro{
    background-color: red; 
    
}

.titulo{
    margin-left: 600px;
    padding: 20px;
}


.laranja{
    background-color: lightsalmon;
    margin-top: -20px;
    height: 250px;

}

footer{
    height: 350px;
    background-color: maroon;
}

h2{
    font-size: 15px; /*tamanho das letras*/
}

h3{
    padding: 50px;
    margin-left: 550px;
    font-size: 20px;
}

.laranja p{
    width: 400px;
    font-size: 12px;
    margin-left: 550px;

}

.cards{
    display: flex;
    padding: 90px;
    margin-left: 300px;
}

.card{
    margin-right: 35px;
    width: 250px;
    text-align: center; /*centralizar o texto*/
    display: flex;
    flex-direction: column; /*colocar um de baixo do outro*/
}


.card img{
    margin-left: 100px;
    margin-bottom: 20px;
    width: 50px;
}

.card a{
    background-color: tomato;
    text-decoration: none;
    width: 100px;
    padding: 15px;
    margin-left: 55px;
}

.cardsa {
    
    padding: 20px;
    display: flex;
    margin-left: 20px;
    text-align: center;
    margin-top: 100px;

}

.carda strong{

    text-transform: uppercase; 
}

.carda a{

    background-color: tomato;
    text-decoration: none;
    width: 100px;
    padding: 10px;
    margin-left: 10px;

}

.titulodois{
    
   margin-left: 30px;
}
.titulodois p{
    margin-top: -60px;
    margin-left: 630px;
}

.finall{
    margin-left: 100px;
    text-align: center; 
    padding: 10px;
}

.final{

    display: flex;
    margin-left: 600px;
    margin-bottom: 20px;
    margin-top: 100px;
}

.final img{
    width: 30px;
    margin-right: 30px;
}

.todos{

    margin-bottom: 50px;
}

.finall p{

    margin-top: 100px;
}